{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
    <div class="container clearfix">
        <div class="jumbotron">
            <h1>GNSSR Toolbox</h1>
            <p class="lead">
                Welcome to this website. The GNSSR-Toolbox is a prototype tool for the collection and processing
                of Global Navigation Sattelite System Reflectometry data. This website was created in accordance with a master thesis
                at the Norwegian university NTNU.
            </p>

            <a class="btn btn-primary" href="{% url 'toolbox:user_input' %}">Go to Toolbox</a>
        </div>
    </div> <!-- /container -->
{% endblock content %}