{% extends 'base.html' %}0
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
    <div class="container clearfix">
        <div class="jumbotron">
            <h1>GNSSR Toolbox</h1>
            <p class="lead">
                Welcome to this website. The GNSSR-Toolbox is a prototype tool for the collection and processing
                of Global Navigation Sattelite System Reflectometry data. This website was created in accordance with a master thesis
                at the Norwegian university NTNU.
            </p>


            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Tool:
                </a>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'toolbox:user_input' %}">Track Demonstration Tool</a>
                <a disabled="true" class="dropdown-item" href="{% url 'toolbox:tool_selection' %}">Data Clipping Tool</a>
                <a disabled class="dropdown-item" href="{% url 'toolbox:example' %}">...</a>
                </div>
            </div>

        </div>
    </div> <!-- /container -->
{% endblock content %}