{% load leaflet_tags %}
{% leaflet_js plugins="forms" %}
{% leaflet_css plugins="forms" %}

<form method="post" novalidate>
    {{ form.media }}
    {% csrf_token %}
    <div>
        <h4>Selection Area:</h4>
        <br>
        {{ form.grid }}
        {% for error in form.grid.errors %}
            <p style="color: #ff0000">{{ error }}</p>
        {% endfor %}
    </div>

    <p>Selected coordinates:</p>
    <label for="coordinate_a">Top Left: </label>
    <input id="coordinate_a" type="text" name="coordinate_a">

    <label for="coordinate_b">Bottom Right: </label>
    <input id="coordinate_b" type="text" name="coordinate_b">

    <hr>

    <div class='input-group date' id='datetimepicker6'>
        <p>
            <h4>Start Date and Time:</h4>
            <br>
            {{ form.start_date }}
            {% if form.start_date.help_text %}
                <small class="form-text text-muted">{{ form.start_date.help_text }}</small>
            {% endif %}
            {% for error in form.start_date.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
    </div>

    <div class='input-group date' id='datetimepicker6'>
        <p>
            <h4>End Date and Time:</h4>
            <br>
            {{ form.end_date }}
            {% if form.end_date.help_text %}
                <small class="form-text text-muted">{{ form.end_date.help_text }}</small>
            {% endif %}
            {% for error in form.end_date.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
    </div>


     <div>
        <h4>Level:</h4>
         {{ form.level }}

        <div id="level_1" style="display: none">
            <h1>LEVEL 1 SELECTED</h1>
            <br>
            {{ form.keys_level1 }}
            {% if form.keys_level1.help_text %}
                <small class="form-text text-muted">{{ form.keys_level1.help_text }}</small>
            {% endif %}
            {% for error in form.keys_level1.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>

        <div id="level_2" style="display: none">
            <h1>LEVEL 2 SELECTED</h1>
            <br>
            {{ form.keys_level2 }}
            {% if form.keys_level2.help_text %}
                <small class="form-text text-muted">{{ form.keys_level2.help_text }}</small>
            {% endif %}
            {% for error in form.keys_level2.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
         <div id="level_3" style="display: none">
            <h1>LEVEL 3 SELECTED</h1>
             <br>
            {{ form.keys_level3 }}
            {% if form.keys_level3.help_text %}
                <small class="form-text text-muted">{{ form.keys_level3.help_text }}</small>
            {% endif %}
            {% for error in form.keys_level3.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>

        <h4>Version</h4>
        {{ form.version }}
    </div>

    <br>


    <button type="submit" class="btn btn-primary">Next</button>
</form>

{% block script %}
    <script>
        $("#level_1").show();

        $('#id_level').change(function() {
            if ($(this).val() === "1") {
                $("#level_1").show();
                $("#level_2").hide();
                $("#level_3").hide();
            } else if ($(this).val() === "2") {
                $("#level_1").hide();
                $("#level_2").show();
                $("#level_3").hide();
            } else if ($(this).val() === "3") {
                $("#level_1").hide();
                $("#level_2").hide();
                $("#level_3").show();
            }
        })


        var map = L.map('id_grid-map', {drawControl: true}).setView([0, 0], 1);
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);

        var rect;

        var markerA = L.marker([33, -72], {title: "Point A", draggable: true})
		.addTo(map)
		.on('dragend', function() {
			var coord = String(markerA.getLatLng()).split(',');
			var lat = coord[0].split('(');
			var lng = coord[1].split(')');
			document.getElementById("coordinate_a").value = ""+lat[1]+","+lng[0]+"";
			CreateRectangle();
		});

        var markerB = L.marker([27, -60], {title: "Point B", draggable: true})
        .addTo(map)
        .on('dragend', function() {
            var coord = String(markerB.getLatLng()).split(',');
			var lat = coord[0].split('(');
			var lng = coord[1].split(')');
			document.getElementById("coordinate_b").value = ""+lat[1]+","+lng[0]+"";
            CreateRectangle();
		});

        CreateRectangle();

        function CreateRectangle(){
            var bounds = [[Object.values(Object.values(markerA)[1])[0], Object.values(Object.values(markerA)[1])[1]],[Object.values(Object.values(markerB)[1])[0], Object.values(Object.values(markerB)[1])[1]]];


            if(rect)
            {
                map.removeLayer(rect); // remove the old polygon...
            }

            rect = L.rectangle(bounds, {color: 'blue', weight: 1}).on('click', function (e) {
                // There event is event object
                // there e.type === 'click'
                // there e.lanlng === L.LatLng on map
                // there e.target.getLatLngs() - your rectangle coordinates
                // but e.target !== rect
                console.info(e);
            }).addTo(map);

        }

    </script>
{% endblock %}