{% load leaflet_tags %}
{% leaflet_js plugins="forms" %}
{% leaflet_css plugins="forms" %}
<form method="post" novalidate>
    {{ form.media }}
    {% csrf_token %}
    <h1>Track Demonstration Tool</h1>
    <p>
        This tool gives a demonstration of the CYGNSS tracks. Here you choose a region of interest, date and timeframe,
        dataset and parameters. From this we will show all the relevant tracks of the CYGNSS dataset and give some useful
        information.
    </p>
    <hr>
    <div>
        <h4>Selection Area:</h4>
        <br>
        {{ form.grid }}
        {% for error in form.grid.errors %}
            <p style="color: #ff0000">{{ error }}</p>
        {% endfor %}
    </div>

    <p>Selected coordinates:</p>
    <label for="coordinate_a">Top Left: </label>
    <input id="coordinate_a" type="text" name="coordinate_a">

    <label for="coordinate_b">Bottom Right: </label>
    <input id="coordinate_b" type="text" name="coordinate_b">

    <hr>

    <div class='input-group date' id='datetimepicker6'>
        <p>
            <h4>Date:</h4>
            <br>
            {{ form.date }}
            {% if form.date.help_text %}
                <small class="form-text text-muted">{{ form.date.help_text }}</small>
            {% endif %}
            {% for error in form.date.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
    </div>

    <div class='input-group date' id='datetimepicker6'>
        <p>
            <h4>Start time:</h4>
            <br>
            {{ form.start_time }}
            {% if form.start_time.help_text %}
                <small class="form-text text-muted">{{ form.start_time.help_text }}</small>
            {% endif %}
            {% for error in form.start_time.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
    </div>

    <div class='input-group date' id='datetimepicker6'>
        <p>
            <h4>End time:</h4>
            <br>
            {{ form.end_time }}
            {% if form.end_time.help_text %}
                <small class="form-text text-muted">{{ form.end_time.help_text }}</small>
            {% endif %}
            {% for error in form.end_time.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
    </div>

     <div>
        <h4>Level:</h4>
         {{ form.level }}
        <h4>Version</h4>
        {{ form.version }}
    </div>

    <br>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% block script %}
    <script>

        var map = L.map('id_grid-map', {drawControl: true}).setView([0, 0], 1);
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);

        var rect;

        var markerA = L.marker([33, -72], {title: "Point A", draggable: true})
		.addTo(map)
		.on('dragend', function() {
			var coord = String(markerA.getLatLng()).split(',');
			var lat = coord[0].split('(');
			var lng = coord[1].split(')');
			document.getElementById("coordinate_a").value = ""+lat[1]+","+lng[0]+"";
			CreateRectangle();
		});

        var markerB = L.marker([27, -60], {title: "Point B", draggable: true})
        .addTo(map)
        .on('dragend', function() {
            var coord = String(markerB.getLatLng()).split(',');
			var lat = coord[0].split('(');
			var lng = coord[1].split(')');
			document.getElementById("coordinate_b").value = ""+lat[1]+","+lng[0]+"";
            CreateRectangle();
		});

        CreateRectangle();

        function CreateRectangle(){
            var bounds = [[Object.values(Object.values(markerA)[1])[0], Object.values(Object.values(markerA)[1])[1]],[Object.values(Object.values(markerB)[1])[0], Object.values(Object.values(markerB)[1])[1]]];


            if(rect)
            {
                map.removeLayer(rect); // remove the old polygon...
            }

            rect = L.rectangle(bounds, {color: 'blue', weight: 1}).on('click', function (e) {
                // There event is event object
                // there e.type === 'click'
                // there e.lanlng === L.LatLng on map
                // there e.target.getLatLngs() - your rectangle coordinates
                // but e.target !== rect
                console.info(e);
            }).addTo(map);

        }

    </script>
{% endblock %}